<html>
    <%- include('../partials/head') %>
    
    <body>
        <div id="Wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/nav') %>

            <main>

          
            <body>
                
                <form id="form_id" method="post" name="myform">
                    <h1>Login</h1>
                <label>Email:</label>
                <input type="email" name="email" id="email"/>
                <label>Password:</label>
                <input type="password" name="password" id="password"/>
                <button input ="submit">Log in!</button>
                </form>
                <p>need an account?</p>
                <a href = "account/register">Register Here! </a>
                
            </body>
                
            </main>

            <%- include('../partials/footer')%> 
        </div>
    </body>
    </html>